html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background: rgb(153, 186, 221);
    overflow-x: hidden;
}

.projects {
    background: #DDDDDD;
}

.grid-column-layout {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    grid-template-rows: 25vh;
    background-color: rgb(153, 186, 221);
    padding-top: 15px;
}

ul {
    font-weight: bold;
}

li {
    font-weight: 400;
}

p {
    font-weight: bolder;
    font-size: 200%;
    margin: 0;
}

.button {
    padding-right: 10%;
    text-align: center;
}

button {
    text-align: center;
    width: 15vw;
    border-radius: 15px;
    background-color: white;
    background-size: 100%;
    position: relative;
    
}

img {
    max-width: 100%;
    max-height: 100%;
}

.back {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

button:hover .back {
    display: inline;
}

button:hover {
    background-color: rgb(114, 137, 218);
}

@font-face {
    font-family: myFirstFont;
    src: url("/fonts/Mylodon-Light.otf");
}

.logo {
    float: left;
    width: 7vw;
    height: 7vw;
    margin-left: 10px;
}

h1 {
    font-family: myFirstFont;
    text-align: center;
    margin-top: 1vw;
    padding-left: 10px;
    position: relative;
    font-size: 4vw;
}

.headerr {
    background-color: rgb(41, 41, 41);
    color: rgb(153, 186, 221);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navebar {
    background-color: rgb(153, 186, 221);
}

.navbar-expand-lg {
    background-color: rgb(153, 186, 221);
    color: rgb(153, 186, 221);
}

.navbar-light {
    background-color: rgb(153, 186, 221);
    color: rgb(153, 186, 221);
}

.bg-light {
    background-color: rgb(153, 186, 221);
    color: rgb(153, 186, 221);
}

li:hover {
    background-color: white;
    padding-left: 10px;
}

.navbar-toggler {
    background-color: white;
}

button {
    margin-left: 10px;
}

.grid-column-layout {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    grid-template-rows: 25vh;
    background-color: rgb(153, 186, 221);
    padding-top: 15px;
}

ul {
    font-weight: bold;
}

li {
    font-weight: 400;
}

p {
    font-weight: bolder;
    font-size: 200%;
    margin: 0;
}

.button {
    padding-right: 10%;
    text-align: center;
}

button {
    text-align: center;
    width: 15vw;
    border-radius: 15px;
    background-color: white;
    background-size: 100%;
    position: relative;
}

.back {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

button:hover .back {
    display: inline;
}

button:hover {
    background-color: rgb(153, 186, 221);
}

.game {
    background-color: rgb(153, 186, 221);
    width: 50%;
    height: 46vw;
    margin-left: 25vw;
    padding-top: 2vw;
    margin-bottom: 2vw;
}


.screen1 {
    width: 50vw;
    margin-top: 1vw;
}

.screen2 {
    width: 50vw;
    margin-top: 2vw;
}

.screen3 {
    width: 50vw;
    margin-top: 2vw;
}

.btn {
    background-color: white; 
    color: black;
    padding: 10px 15px;
    border-radius: 8px;
    text-align: center;
    display: inline-block;
    margin-left: 18vw;
    font-size:1.5vw;
  }

  .headerr img {
    float: left;
    width: 7vw;
    height: 7vw;
    margin-left: 10px;
}

.headerr h1 {
    font-family: myFirstFont;
    text-align: center;
    margin-top: 1vw;
    padding-left: 10px;
    position: relative;
    font-size: 4vw;
}

.headerr {
    background-color: rgb(41, 41, 41);
    color: rgb(153, 186, 221);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navebar {
    background-color: rgb(153, 186, 221);
}

.navbar-expand-lg {
    background-color: rgb(153, 186, 221);
    color: rgb(153, 186, 221);
}

.navbar-light {
    background-color: rgb(153, 186, 221);
    color: rgb(153, 186, 221);
}

nav .bg-light {
    background-color: rgb(153, 186, 221);
    color: rgb(153, 186, 221);
}

nav li {
    background-color: rgb(153, 186, 221);
    font-size: 125%;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

nav li:hover {
    background-color: white;
    padding-left: 10px;
}

nav .navbar-toggler {
    background-color: white;
}

nav button {
    margin-left: 10px;
}

  @media only screen and (max-width: 479px) {
    .game {
        background-color: rgb(153, 186, 221);
        width: 80%;
        height: 65vw;
        margin:auto;
        padding-top: 2vw;
        margin-bottom: 2vw;
    }
    .screen1 {
        width: 80vw;
        margin-top: 1vw;
    }
    
    .screen2 {
        width: 80vw;
        margin-top: 2vw;
    }
    
    .screen3 {
        width: 80vw;
        margin-top: 2vw;
    }
    .btn {
        background-color: white; 
        color: black;
        padding: 10px 15px;
        border-radius: 8px;
        text-align: center;
       
        margin-left: 33vw;
        font-size:1.5vw;
      }


  }