html,
body {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
	background: rgb(153, 186, 221);
	overflow-x: hidden;
}

.rsp {
	width: 100%;
	height: auto;
}

/* Container holding the image and the text */
.mainContainer {
  position: relative;
  text-align: center;
  color: white;
}

/* Top right text */
.top-right {
  background: #A3C0E0;
  position: absolute;
  top: 10px;
  right: 30px;
  border-radius: 10px;
  padding: 2px;
  font-size: 2em;
  color: black;
  opacity: .75;
  border-color: black;
  border-style: solid;
  border-width: 2px;
}

footer .grid-column-layout {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    grid-template-rows: 25vh;
    background-color: rgb(153, 186, 221);
    padding-top: 15px;
}

footer ul {
    font-weight: bold;
}

footer li {
    font-weight: 400;
}

footer p {
    font-weight: bolder;
    font-size: 200%;
    margin: 0;
}

footer .button {
    padding-right: 10%;
    text-align: center;
}

footer button {
    text-align: center;
    width: 15vw;
    border-radius: 15px;
    background-color: white;
    background-size: 100%;
    position: relative;
}

footer img {
    max-width: 100%;
    max-height: 100%;
}

footer .back {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

footer button:hover .back {
    display: inline;
}

footer button:hover {
    background-color: rgb(114, 137, 218);
}

@font-face {
    font-family: myFirstFont;
    src: url("/fonts/Mylodon-Light.otf");
}

.headerr img {
    float: left;
    width: 7vw;
    height: 7vw;
    margin-left: 10px;
}

.headerr h1 {
    font-family: myFirstFont;
    text-align: center;
    margin-top: 1vw;
    padding-left: 10px;
    position: relative;
    font-size: 4vw;
}

.headerr {
    background-color: rgb(41, 41, 41);
    color: rgb(153, 186, 221);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navebar {
    background-color: rgb(153, 186, 221);
}

.navbar-expand-lg {
    background-color: rgb(153, 186, 221);
    color: rgb(153, 186, 221);
}

.navbar-light {
    background-color: rgb(153, 186, 221);
    color: rgb(153, 186, 221);
}

nav .bg-light {
    background-color: rgb(153, 186, 221);
    color: rgb(153, 186, 221);
}

nav li {
    background-color: rgb(153, 186, 221);
    font-size: 125%;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

nav li:hover {
    background-color: white;
    padding-left: 10px;
}

nav .navbar-toggler {
    background-color: white;
}

nav button {
    margin-left: 10px;
}


@media only screen and (max-width: 479px) {
	.headerr img {
        float: left;
        width: 10vw;
        height: 10vw;
        margin-left: 10px;
    }
    
    .headerr h1 {
        font-family: myFirstFont;
        text-align: center;
        margin-top: 3vw;
        padding-left: 10px;
        position: relative;
        font-size: 4vw;
    }
    
    .headerr {
        background-color: rgb(41, 41, 41);
        color: rgb(153, 186, 221);
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .top-right {
        background: #A3C0E0;
        position: absolute;
        top: 10px;
        right: 30px;
        border-radius: 10px;
        padding: 2px;
        font-size: 1em;
        color: black;
        opacity: .75;
        border-color: black;
        border-style: solid;
        border-width: 2px;
    }
}