@font-face {
    font-family: myFirstFont;
    src: url("/fonts/Mylodon-Light.otf");
}

img {
    float: left;
    width: 7vw;
    height: 7vw;
    margin-left: 10px;
}

h1 {
    font-family: myFirstFont;
    text-align: center;
    margin-top: 1vw;
    padding-left: 10px;
    position: relative;
    font-size: 4vw;
}

.headerr {
    background-color: rgb(41, 41, 41);
    color: rgb(153, 186, 221);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navebar {
    background-color: rgb(153, 186, 221);
}

.navbar-expand-lg {
    background-color: rgb(153, 186, 221);
    color: rgb(153, 186, 221);
}

.navbar-light {
    background-color: rgb(153, 186, 221);
    color: rgb(153, 186, 221);
}

.bg-light {
    background-color: rgb(153, 186, 221);
    color: rgb(153, 186, 221);
}

li {
    background-color: rgb(153, 186, 221);
    font-size: 125%;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

li:hover {
    background-color: white;
    padding-left: 10px;
}

.navbar-toggler {
    background-color: white;
}

button {
    margin-left: 10px;
}